@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* color: white; */
}

.cyan {
  color: cyan;
}

.loading {
  background-color: black;
  transition: all 300ms ease;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

html {
  scroll-behavior: smooth;
}

select {
  background-color: #000000;
  border-radius: 4px;
  border: 0px solid #008170;
  color: #008170;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  font-size: 16px;
  font-weight: 600;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

nav {
  height: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #0f0f0f;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* position: relative; */
  /* overflow: hidden; */
}

.nav__container--animation {
  animation: fade-in 400ms 600ms backwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.nav__left {
  display: flex;
  align-items: center;
}

.vanilla {
  font-size: 14px;
  margin-left: 8px;
  color: #fff;
  font-weight: 400;
}

.nav__logo {
  border: 2px solid #008170;
  padding: 8px;
}

.nav__logo--h1 {
  color: white;
}

.nav__link,
.button__back {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  color: #008170;
  border: 2px solid;
  transition: all 0.1s ease;
}

.nav__link:hover,
.button__back:hover {
  color: #fff;
  background-color: #008170;
  box-shadow: #005b41 0px 3px 8px;
}

.nav__link--about {
  cursor: not-allowed;
}
/* button__back is in movieDetails.js */

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Small screen menu backdrop starts here vvvv */

.btn__menu {
  background-color: transparent;
  font-size: 36px;
  border: none;
  color: #fff;
  display: none;
}

.menu__backdrop {
  position: fixed;
  background-color: #111111;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open body {
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
  padding: 32px 0;
}
.menu__link {
  color: #008170;
  font-size: 40px;
  font-weight: 200;
  transition: all 0.1s ease;
}

.menu__link:hover {
  color: #fff;
  background-color: #008170;
  box-shadow: #005b41 0px 3px 8px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

/*  LANDING */

#landing {
  background: rgb(15, 15, 15);
  background: linear-gradient(
    180deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(35, 45, 63, 1) 94%
  );
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__description--h1 {
  text-align: center;
  font-size: 56px;
  margin-bottom: 24px;
  color: rgb(0, 129, 112);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: fade-up 650ms 400ms backwards;
}

.header__description--h2 {
  font-size: 36px;
  margin-bottom: 24px;
  color: rgb(0, 129, 112);
  animation: fade-up 650ms 600ms backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header__img--wrapper {
  animation: fade-in 1200ms 800ms backwards;
  max-width: 800px;
  margin: 0 auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.browser__engine {
  width: 100%;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* max-width: 500px; */
}

.browser__engine--animation {
  animation: fade-up 650ms 800ms backwards;
}

.search__line {
  color: rgba(0, 0, 0, 0.87);
  max-width: 600px;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.api-button {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 36px;
  background-color: #008170;
  border-radius: 10px;
  color: white;
}

.api-button:hover {
  background-color: #000000;
}
.teal-gradient {
  color: rgb(0, 129, 112);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* movie.html */

#movies,
#movie__details {
  background-color: #202939;
  color: white;
  min-height: calc(100vh - 80px);
}

.movie__container {
  padding: 36px 24px;
}

.movie__list {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.not__found--error {
  margin: 0 auto;
}

.movie {
  width: calc(100% / 3);
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.movie__img {
  height: 100%;
}

.shadow__card {
  height: 400px;
  width: 100%;
}

.movie__img--wrapper {
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.3s ease;
  max-height: 400px;
  height: 100%;
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.movie__img--wrapper:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.movie__description {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 16px auto 0;
}

.movie__title {
  font-size: 24px;
}

.shadow__title {
  width: 100%;
  height: 70px;
  border-radius: 5px;
}

.media__type,
.movie__year {
  font-size: 16px;
}

.media__type {
  color: cyan;
}

.filter__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  padding: 0 36px;
}

/* movieDetails.html */

.movie__details--container {
  padding: 36px 24px;
}

.button__back--container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.movie__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__details--title {
  font-size: 48px;
  font-weight: 500;
  margin: 24px 0;
  text-align: center;
}

.movie__details--movie-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
}

.movie__details--img-wrapper,
.movie__details--description {
  width: 50%;
}

.movie__details--img-wrapper {
  display: flex;
  justify-content: flex-end;
}

.movie__details--img {
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.movie__details--description {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.movie__description--p {
  font-size: 20px;
  margin: 12px 0;
}

.similar__movie--wrapper {
  width: 100%;
  margin-top: 64px;
  background-color: #000a09;
  border-radius: 10px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.similar__movie--more {
  font-size: 42px;
  font-weight: 500;
}

/*  FOOTER */

footer {
  background: rgb(15, 15, 15);
}

.footer__wrap {
  padding: 36px 24px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__p {
  color: white;
}

.footer__social--wrap {
  color: whitesmoke;
  font-size: 20px;
  margin-left: 12px;
}

.fa-brands {
  transition: all 0.3s ease;
}

.fa-brands:hover {
  scale: 1.5;
}
/* mbp 2015 13" vp --> 1280 x 800 */
/* @media (max-width: 1280px) {
  header {
    height: 100%;
  }
} */

@media (max-width: 768px) {
  .header__container {
    padding: 0 24px;
  }
  .movie__title {
    font-size: 22px;
  }
  .movie__type {
    font-size: 14px;
  }
  .movie__year {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .movie {
    width: calc(100% / 2);
  }
}

@media (max-width: 640px) {
  .header-description--h1 {
    font-size: 48px;
  }
  .header__description--h2 {
    font-size: 32px;
  }
  .movie__details--movie-wrapper {
    flex-direction: column;
  }
  .movie__details--img-wrapper {
    width: 100%;
  }
  .movie__details--img {
    margin: 0 auto;
  }
  .movie__details--description {
    width: 100%;
    margin: 12px 0;
  }
  .movie__description--p {
    text-align: center;
  }
  .similar__movie--more {
    text-align: center;
  }
  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }
  .footer__p {
    margin: 18px 0;
  }
}

/* hamburger menu vv opens here */

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }
  .btn__menu {
    display: block;
  }
}

/* hamburger menu ^^ */

@media (max-width: 468px) {
  .header__description--h1 {
    font-size: 52px;
  }
  .header__description--h2 {
    font-size: 28px;
  }
  .browser__engine {
    flex-direction: column;
  }
  .api-button {
    margin: 12px auto 0;
    height: 50px;
    width: 125px;
    font-size: 32px;
  }
  .movie {
    width: 100%;
  }
  .movie__title,
  .media__type,
  .movie__year {
    text-align: center;
  }
  .movie__title {
    font-size: 28px;
  }
  .media__type,
  .movie__year {
    font-size: 20px;
  }
  .movie__details--title {
    font-size: 38px;
  }
  .movie__details--img {
    max-width: 310px;
  }
  .filter__wrapper {
    flex-direction: column;
  }
  .filter__heading {
    margin-bottom: 18px;
  }
}

@media (max-width: 320px) {
  nav {
    height: 110px;
  }
  .nav__container {
    padding: 12px;
  }
  .nav__left {
    flex-direction: column;
  }
  .vanilla {
    margin: 8px 0;
  }
  .header__container {
    padding: 0 16px;
  }
  .header__description--h1 {
    font-size: 36px;
  }
  .header__description--h2 {
    font-size: 22px;
  }
  .footer__wrap {
    padding: 36px 12px;
  }
}

.animated-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 550px 104px;
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}